<div class="container mt-5">
  <div class="row">
    <div class="col-8 bg-dark rounded-3 text-white">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Chia Pool</h1>
        <p class="col-md-8 fs-4">
          You want fucking money? Pool your plots fam, we group, we get paid.
        </p>
        <div class="pb-4">
          <img src="../../assets/svgs/chia-pool-logo-ladder.svg" class="img-fluid" />
        </div>
        <button class="btn btn-primary btn-lg text-white" type="button">
          Learn More
        </button>
      </div>
    </div>

    <div class="col-4 my-auto text-center mx-auto">
      <div class="card border-primary text-center bg-primary" style="max-width: 18rem">
        <div class="card-body text-white">
          <h1 class="card-title">
            Plots <span class="badge bg-info">344</span>
          </h1>
        </div>
      </div>

      <div class="card border-secondary my-3 text-center bg-secondary" style="max-width: 18rem">
        <div class="card-body text-white">
          <h1 class="card-title">
            Farmers <span class="badge bg-info">19</span>
          </h1>
        </div>
      </div>

      <div class="card border-primary my-3 text-center bg-primary" style="max-width: 18rem">
        <div class="card-body text-white">
          <h2 class="card-title">
            Harvesters <span class="badge bg-info">24</span>
          </h2>
        </div>
      </div>

      <div class="card border-secondary my-3 text-center bg-secondary" style="max-width: 18rem">
        <div class="card-body text-white">
          <h1 class="card-title">
            ETW <span class="badge bg-info">9 Days</span>
          </h1>
        </div>
      </div>

      <div class="card border-primary mt-3 text-center bg-primary" style="max-width: 18rem">
        <div class="card-body text-white">
          <h1 class="card-title">
            Version <span class="badge bg-info">1.0.5</span>
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>